<h1>
  {{title}}
</h1>
<!--<img [src]="foto" />

<button (click)="msgAlerta()">Enviar Alerta</button>



<app-lista-pessoa></app-lista-pessoa>-->


<!--<app-interpolation-binding></app-interpolation-binding>-->
<!--<app-property-binding></app-property-binding>-->
<!--<app-ng-if></app-ng-if>-->
<!--<app-ng-for></app-ng-for>-->
<!--<app-ng-class></app-ng-class>-->

<!--
<app-ng-content>
  <div class="titulo">
    meu título do passado
  </div>

  <div class="corpo">
    meu conteúdo com select
  </div>
  <div class="corpo">
    segundo meu conteúdo com select
  </div>

</app-ng-content>
-->

<app-inputoutput [menu]="desenvolvimento" (nomeClidado)="valorPassado($event)"></app-inputoutput>
<p>você clicou em: {{valor}}</p>


